<div style="background-color: #f9f9f9; width: 60%; height: auto; border-radius: 8px; margin: 0 auto;">
	<div style="margin-top: 30px; margin-bottom: 30px;">
		<div style="padding: 30px;">
			<h3>Un nuevo usuario se ha registrado en su página web, sus datos son los siguientes:</h3>
			<p style="font-size: 18px;"><span style="font-weight: bold">Usuario: </span><%= @user.fullname %></p>
			<p style="font-size: 18px;"><span style="font-weight: bold">Email: </span><%= @user.email %></p>
			<p style="font-size: 18px;"><span style="font-weight: bold">Teléfono / Celular: </span><%= @user.phone %></p>
			<p style="font-size: 18px;"><span style="font-weight: bold">Comentario: </span><%= @user.comment %></p>
		</div> 
	</div>
</div>