<div style="background-color: #f9f9f9; width: 60%; height: auto; border-radius: 8px; margin: 0 auto;">
	<div style="margin-top: 30px; margin-bottom: 30px;">
		<div style="padding: 30px;">
			<p style="font-size: 26px;"><span style="font-weight: bold">El usuario: </span><%= @user.fullname %></p>
			<p style="font-size: 26px;"><span style="font-weight: bold">Correo: </span><%= @user.email %></p>
			<p style="font-size: 26px;"><span style="font-weight: bold">Numero: </span><%= @user.phone %></p>
			<p style="font-size: 26px;"><span style="font-weight: bold">Comentario: </span><%= @user.comment %></p>
		</div> 
	</div>
</div>